@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(135deg, #d2b48c, #f5deb3);
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0;
}
